# Created by .ignore support plugin (hsz.mobi)
!/target/.keep
/target/*
Gemfile.lock
/.idea/*
/contrib/modules/*
/.vagrant/
/contrib/.librarian/
/contrib/.tmp/
/contrib/Puppetfile.lock
/contrib/manifests/site.pp
/vendor/
/.bundle